{% extends 'rental/base.html' %}

{% block content %}
    <h1>Home</h1>
    <article class="content-section">
        <p>At <span class="badge badge-light">carrentaldnipro.com</span> everything we do is about giving you the freedom to discover more. We’ll move mountains to find you the right rental car, and bring you a smooth, hassle-free experience from start to finish.</p>
        <h2>We want to make renting a car as simple and personal as driving your own.</h2>
        <p>Renting a car brings you freedom, and we’ll help you find the right car for you at a great price. But there’s much more to us than that. We're here to make renting a car a lot less hassle.</p>

        <h2>We know the service you receive matters</h2>
        <p>So we use real reviews, genuine customer feedback and our own experience to guide you through your best options.</p>

        <h2>We work with car hire companies all over the world</h2>
        <p>From household names to small local specialists – to bring you the cars, choices and deals that make the difference to your trip.</p>

        <h2>And we stay with you every step of the way</h2>
        <p>Our customer team is here to support you through your trip, wherever and whenever you need extra help.</p>

        <p>We use all our experience – and the experiences of millions of our customers – to bring you the car you need and the quality of service you want. Always at the best price.</p>
    </article>
{% endblock content %}