{% extends 'rental/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
{#                    <a class="mr-2" href="#">{{ post.author }}</a>#}
                    <small class="text-muted">{{ post.color }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <h3><a class="article-title" href="#">{{ post.car_mark }}</a></h3>
                <h3><a class="article-title" href="#">{{ post.price_per_hour_usd }}</a></h3>
                <p class="article-content">{{ post.description }}</p>
                <p> class="article-content" {{ post.when_will_be_available|date:"F d, Y"}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}